@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url(./rule.css);
@import url(./header.css);
@import url(./home.css);
@import url(./testimoni.css);
@import url(./plant.css);
@import url(./news.css);
@import url(./footer.css);

body{
    font-family: 'Mulish', sans-serif;;
    margin: 0;
    padding: 0;
}
.btn{
    border: none;
    color: var(--white);
    background-color: var(--lime-green);
    cursor: pointer;
}
